body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
h1 {
  text-align: center;
  background-color: rgb(216, 216, 216);
  padding: 20px;
  color: brown;
}
